<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.dafoe.application.Application">
         </run>
      </application>
   </extension>
   <extension
         id="dafoeProductId"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.dafoe.application.application"
            name="DaFOE 4 Apps">
         <property
               name="aboutImage"
               value="platform:/plugin/org.dafoe.ressources/icones/dragon.gif">
         </property>
         <property
               name="windowImages"
               value="icons/icone_16.gif">
         </property>
         <property
               name="aboutText"
               value="Dafoe 4 Apps &#x0A;Helping tools for ontology building from texts&#x0A;V0.97 (December - 2011 - Aix beta version)">
         </property>
         <property
               name="appName"
               value="DaFOE 4 Apps">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.dafoe.application.splashHandlers.InteractiveSplashHandlers"
            id="org.dafoe.application.splashHandlers.interactive">
      </splashHandler>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
         <colorDefinition
            defaultsTo="200,50,60"
            id="org.dafoe.application.backcolor"
            label="backcolor"
            value="200,50,60">
      </colorDefinition>
      <colorDefinition
            defaultsTo="255,255,255"
            id="org.dafoe.application.forecolor"
            label="forecolor"
            value="255,255,255">
      </colorDefinition>
      <theme
            id="org.dafoe.application.themeId"
            name="Theme Dafoe">
        <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="200,50,60">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="200,50,60">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_END"
               value="200,109,115">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_START"
               value="200,109,115">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_BG_START"
               value="200,50,60">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_BG_END"
               value="200,50,60">
         </colorOverride>  
          <colorOverride
               id="org.dafoe.application.backcolor"
               value="100, 20, 30">
         </colorOverride>
          <colorOverride
               id="org.dafoe.application.forecolor"
               value="255,255,255">
         </colorOverride>
      </theme>
      <theme
            id="org.dafoe.corpuslevel.themeId"
            name="Theme Corpus">
            <colorOverride
              colorFactory="org.dafoe.application.ColorFactory"
              id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
              value="200,50,60">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="200,50,60">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_END"
               value="200,109,115">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_START"
               value="200,109,115">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_BG_START"
               value="200,50,60">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_BG_END"
               value="200,50,60">
         </colorOverride> 
          <colorOverride
               id="org.dafoe.application.backcolor"
               value="175, 19, 30">
         </colorOverride>
          <colorOverride
               id="org.dafoe.application.forecolor"
               value="255,255,255">
         </colorOverride>
      </theme>
      <theme
            id="org.dafoe.terminologiclevel.themeId"
            name="Theme Terminologic">
        <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="200,50,60">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="200,50,60">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_END"
               value="200,109,115">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_START"
               value="200,109,115">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_BG_START"
               value="200,50,60">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_BG_END"
               value="200,50,60">
         </colorOverride>  
          <colorOverride
               id="org.dafoe.application.backcolor"
               value="227, 0, 55">
         </colorOverride>
          <colorOverride
               id="org.dafoe.application.forecolor"
               value="255,255,255">
         </colorOverride>
      </theme>
      <theme
            id="org.dafoe.terminoontologiclevel.themeId"
            name="Theme termino ontologic">
        <colorOverride
              colorFactory="org.dafoe.application.ColorFactory"
              id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
              value="200,50,60">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="200,50,60">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_END"
               value="200,109,115">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_START"
               value="200,109,115">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_BG_START"
               value="200,50,60">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_BG_END"
               value="200,50,60">
         </colorOverride>  
          <colorOverride
               id="org.dafoe.application.backcolor"
               value="234, 102, 28">
         </colorOverride>
          <colorOverride
               id="org.dafoe.application.forecolor"
               value="255,255,255">
         </colorOverride>
      </theme>
      <theme
            id="org.dafoe.ontologiclevel.themeId"
            name="Theme Ontologic">
        <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="200,50,60">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="200,50,60">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_END"
               value="200,109,115">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_START"
               value="200,109,115">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_BG_START"
               value="200,50,60">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_BG_END"
               value="200,50,60">
         </colorOverride>  
          <colorOverride
               id="org.dafoe.application.backcolor"
               value="252, 195, 0">
         </colorOverride>
          <colorOverride
               id="org.dafoe.application.forecolor"
               value="0,0,0">
         </colorOverride>
      </theme>
   </extension>
   <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            class="org.dafoe.application.presentations.ClassicFactory"
            id="org.dafoe.application.factory1"
            name="ma factorie">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.dafoe.application.preferences.DataBaseSettingsPreferencePage"
            id="org.dafoe.application.preferences.DataBaseSettingsPreferencePage"
            name="DataBase Settings ">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dafoe.application.preferences.PreferenceInitializer">
      </initializer>
   </extension>
	
</plugin>
