<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.dafoe.ontologiclevel.PerspectiveClassesFactory"
            id="org.dafoe.ontologiclevel.perspectiveClassesId"
            name="%perspective.name.0">
      </perspective>
      <perspective
            class="org.dafoe.ontologiclevel.PerspectivePropertiesFactory"
            id="org.dafoe.ontologiclevel.perspectivePropertiesId"
            name="%perspective.name.1">
      </perspective>
      <perspective
            class="org.dafoe.ontologiclevel.PerspectiveIndividualsFactory"
            id="org.dafoe.ontologiclevel.perspectiveIndividualsId"
            name="%perspective.name.2">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.dafoe.ontologiclevel.OntologicMenuviewPart2"
            id="org.dafoe.ontologiclevel.ontologicMenuViewId"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.dafoe.ontologiclevel.category"
            class="org.dafoe.ontologiclevel.OntologicViewPart"
            icon="icons/classe_16.gif"
            id="org.dafoe.ontologiclevel.ontologicViewId"
            name="%view.name.1"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.dafoe.ontologiclevel.category"
            class="org.dafoe.ontologiclevel.ClassesViewPart"
            icon="icons/classe_16.gif"
            id="org.dafoe.ontologiclevel.classesViewId"
            name="%view.name.2"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.dafoe.ontologiclevel.category"
            class="org.dafoe.ontologiclevel.PropertiesViewPart"
            icon="icons/data_property_16.gif"
            id="org.dafoe.ontologiclevel.propertiesViewId"
            name="%view.name.3"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.dafoe.ontologiclevel.category"
            class="org.dafoe.ontologiclevel.IndividualsViewPart"
            icon="icons/instance_16.gif"
            id="org.dafoe.ontologiclevel.IndividualsViewId"
            name="%view.name.4"
            restorable="true">
      </view>
      <category
            id="org.dafoe.ontologiclevel.category"
            name="%category.name.0">
      </category>
      <view
            allowMultiple="true"
            category="org.dafoe.ontologiclevel.category"
            class="org.dafoe.ontologiclevel.ClassePropertyViewPart"
            icon="icons/classe_16.gif"
            id="org.dafoe.ontologiclevel.ClassePropertyViewPartID"
            name="%view.name.5"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.dafoe.ontologiclevel.category"
            class="org.dafoe.ontologiclevel.PropertyInfoViewPart"
            icon="icons/data_property_16.gif"
            id="org.dafoe.ontologiclevel.PropertyInfoViewPartId"
            name="%view.name.6"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.dafoe.ontologiclevel.category"
            class="org.dafoe.ontologiclevel.ContentViewPart"
            icon="icons/instance_16.gif"
            id="org.dafoe.ontologiclevel.ContentViewPartId"
            name="%view.name.7"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
         <theme
            id="org.dafoe.ontologiclevel.ontologicTheme"
            name="Ontologic Theme">
       
      </theme>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.dafoe.ontologiclevel.actionSet1"
            label="Ontologic"
            visible="false">
         <menu
               id="org.dafoe.ontologiclevel.menu1"
               label="%menu.label.0"
               path="edit">
            <groupMarker
                  name="org.dafoe.ontologiclevel.groupMarker2">
            </groupMarker>
            <groupMarker
                        name="GroupNewOpen">
            </groupMarker>

            <groupMarker
                        name="GroupOntologyManagement">
            </groupMarker>
                  
         </menu>
         <action
               class="org.dafoe.ontologiclevel.actions.CommitOntology"
               id="org.dafoe.ontologiclevel.actionCommitOntology"
               label="%action.label.0"
               menubarPath="org.dafoe.ontologiclevel.menu1/org.dafoe.ontologiclevel.groupMarker2"
               style="push">
         </action>
         
         <action
               class="org.dafoe.ontologiclevel.actions.NewOnto"
               id="org.dafoe.ontologiclevel.actions.new"
               label="%action.label.1"
               menubarPath="file/GroupNewOpen"
               style="push">
         </action>
         <action
               class="org.dafoe.ontologiclevel.actions.OpenOnto"
               id="org.dafoe.ontologiclevel.actions.open"
               label="%action.label.2"
               menubarPath="file/GroupNewOpen"
               style="push">
         </action>
          

          <action
                class="org.dafoe.ontologiclevel.actions.DeleteOnto"
                id="org.dafoe.ontologiclevel.actions.delete"
                label="Delete Ontologie"
                menubarPath="file/GroupOntologyManagement"
                style="push">
          </action>

         <action
               class="org.dafoe.ontologiclevel.actions.NewAnnotationType"
               id="org.dafoe.ontologiclevel.actions.NewAnnotationType"
               label="%action.label.8"
               menubarPath="file/GroupOntologyManagement"
               style="push">
         </action> 
      </actionSet>
   </extension>

</plugin>
