<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.dafoe.terminoontologiclevel.ui.category"
            name="%category.name.0">
      </category>
      <view
            category="org.dafoe.terminoontologiclevel.ui.category"
            class="org.dafoe.terminoontologiclevel.ui.views.TerminoConceptViewPart"
            icon="icons/icone_16.gif"
            id="org.dafoe.terminoontologiclevel.ui.views.TerminoConceptViewID"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            category="org.dafoe.terminoontologiclevel.ui.category"
            class="org.dafoe.terminoontologiclevel.ui.views.TerminologicalViewPart"
            icon="icons/icone_16.gif"
            id="org.dafoe.terminoontologiclevel.ui.views.TerminologicalViewID"
            name="%view.name.1"
            restorable="true">
      </view>
      <view
            category="org.dafoe.terminoontologiclevel.ui.category"
            class="org.dafoe.terminoontologiclevel.ui.views.DifferentialViewPart"
            icon="icons/icone_16.gif"
            id="org.dafoe.terminoontologiclevel.ui.views.DifferentialViewID"
            name="%view.name.2"
            restorable="true">
      </view>
      <view
            category="org.dafoe.terminoontologiclevel.ui.category"
            class="org.dafoe.terminoontologiclevel.ui.views.ConceptualViewPart"
            icon="icons/icone_16.gif"
            id="org.dafoe.terminoontologiclevel.ui.views.ConceptualViewID"
            name="%view.name.3"
            restorable="true">
      </view>
      <view
            category="org.dafoe.terminoontologiclevel.ui.category"
            class="org.dafoe.terminoontologiclevel.ui.views.RelationalViewPart"
            icon="icons/icone_16.gif"
            id="org.dafoe.terminoontologiclevel.ui.views.RelationalViewID"
            name="%view.name.4"
            restorable="true">
      </view>
      <view
            category="org.dafoe.terminoontologiclevel.ui.category"
            class="org.dafoe.terminoontologiclevel.ui.views.TerminoOntologicalMenuViewPart2"
            icon="icons/icone_16.gif"
            id="org.dafoe.terminoontologiclevel.ui.views.terminoOntologicalMenuViewId"
            name="%view.name.5"
            restorable="true">
      </view>
      <view
            category="org.dafoe.terminoontologiclevel.ui.category"
            class="org.dafoe.terminoontologiclevel.ui.views.ViewPartRelationTabFolder"
            icon="icons/icone_16.gif"
            id="org.dafoe.terminoontologiclevel.ui.viewRelationTabFolderId"
            name="%view.name.6"
            restorable="true">
      </view>
      <view
            category="org.dafoe.terminoontologiclevel.ui.category"
            class="org.dafoe.terminoontologiclevel.ui.views.GlobalRelationalViewPart"
            icon="icons/icone_16.gif"
            id="org.dafoe.terminoontologiclevel.ui.views.GlobalRelationalViewID"
            name="%view.name.7"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.dafoe.terminoontologiclevel.ui.PerspectiveTerminoConceptFactory"
            id="org.dafoe.terminoontologiclevel.ui.perspectiveTerminoConceptId"
            name="%perspective.name.0">
      </perspective>
      <perspective
            class="org.dafoe.terminoontologiclevel.ui.PerspectiveTerminoConceptRelationFactory"
            id="org.dafoe.terminoontologiclevel.ui.perspectiveTerminoConceptRelationId"
            name="%perspective.name.1">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.dafoe.terminoontologiclevel.ui.views.DifferentialViewID">
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.differential.validate"
               icon="icons/refresh.gif"
               label="%command.label.0"
               style="push"
               tooltip="%command.tooltip.0">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.dafoe.terminoontologiclevel.ui.views.RelationalViewID">
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.newRTC"
               icon="icons/new.gif"
               label="%command.label.1"
               style="push"
               tooltip="%command.tooltip.1">
         </command>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.deleteRTC"
               icon="icons/suppress.gif"
               label="%command.label.2"
               style="push"
               tooltip="%command.tooltip.2">
         </command>
         <separator
               name="org.dafoe.terminoontologiclevel.ui.views.RTCToolbarSeparatorRT"
               visible="true">
         </separator>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRTC"
               icon="icons/validated.gif"
               label="%command.label.3"
               style="push"
               tooltip="%command.tooltip.3">
            <parameter
                  name="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRelation"
                  value="validate">
            </parameter>
         </command>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRTC"
               icon="icons/rejected.gif"
               label="%command.label.4"
               style="push"
               tooltip="%command.tooltip.4">
            <parameter
                  name="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRelation"
                  value="reject">
            </parameter>
         </command>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRTC"
               icon="icons/studied.gif"
               label="%command.label.5"
               style="push"
               tooltip="%command.tooltip.5">
            <parameter
                  name="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRelation"
                  value="study">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.dafoe.terminoontologiclevel.ui.views.RelationalViewID">
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.newRTC"
               icon="icons/new.gif"
               label="%command.label.1"
               style="push"
               tooltip="%command.tooltip.1">
         </command>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.deleteRTC"
               icon="icons/suppress.gif"
               label="%command.label.2"
               style="push"
               tooltip="%command.tooltip.2">
         </command>
         <separator
               name="org.dafoe.terminoontologiclevel.ui.views.TemCardSeparatorRT"
               visible="true">
         </separator>
         <separator
               name="org.dafoe.terminoontologiclevel.ui.views.RTCPopuprSeparatorRT"
               visible="true">
         </separator>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRTC"
               icon="icons/validated.gif"
               label="%command.label.3"
               style="push"
               tooltip="%command.tooltip.3">
            <parameter
                  name="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRelation"
                  value="validate">
            </parameter>
         </command>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRTC"
               icon="icons/rejected.gif"
               label="%command.label.4"
               style="push"
               tooltip="%command.tooltip.4">
            <parameter
                  name="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRelation"
                  value="reject">
            </parameter>
         </command>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRTC"
               icon="icons/studied.gif"
               label="%command.label.5"
               style="push"
               tooltip="%command.tooltip.5">
            <parameter
                  name="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRelation"
                  value="study">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.dafoe.terminoontologiclevel.ui.views.GlobalRelationalViewID">
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.newRTC"
               icon="icons/new.gif"
               label="%command.label.1"
               style="push"
               tooltip="%command.tooltip.1">
         </command>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.deleteRTC"
               icon="icons/suppress.gif"
               label="%command.label.2"
               style="push"
               tooltip="%command.tooltip.2">
         </command>
         <separator
               name="org.dafoe.terminoontologiclevel.ui.views.GlobalRTCToolbarSeparatorRT"
               visible="true">
         </separator>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRTC"
               icon="icons/validated.gif"
               label="%command.label.3"
               style="push"
               tooltip="%command.tooltip.3">
            <parameter
                  name="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRelation"
                  value="validate">
            </parameter>
         </command>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRTC"
               icon="icons/rejected.gif"
               label="%command.label.4"
               style="push"
               tooltip="%command.tooltip.4">
            <parameter
                  name="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRelation"
                  value="reject">
            </parameter>
         </command>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRTC"
               icon="icons/studied.gif"
               label="%command.label.5"
               style="push"
               tooltip="%command.tooltip.5">
            <parameter
                  name="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRelation"
                  value="study">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.dafoe.terminoontologiclevel.ui.views.GlobalRelationalViewID">
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.newRTC"
               icon="icons/new.gif"
               label="%command.label.1"
               style="push"
               tooltip="%command.tooltip.1">
         </command>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.deleteRTC"
               icon="icons/suppress.gif"
               label="%command.label.2"
               style="push"
               tooltip="%command.tooltip.2">
         </command>
         <separator
               name="org.dafoe.terminoontologiclevel.ui.views.TemCardSeparatorRT"
               visible="true">
         </separator>
         <separator
               name="org.dafoe.terminoontologiclevel.ui.views.RTCPopuprSeparatorRT"
               visible="true">
         </separator>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRTC"
               icon="icons/validated.gif"
               label="%command.label.3"
               style="push"
               tooltip="%command.tooltip.3">
            <parameter
                  name="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRelation"
                  value="validate">
            </parameter>
         </command>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRTC"
               icon="icons/rejected.gif"
               label="%command.label.4"
               style="push"
               tooltip="%command.tooltip.4">
            <parameter
                  name="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRelation"
                  value="reject">
            </parameter>
         </command>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRTC"
               icon="icons/studied.gif"
               label="%command.label.5"
               style="push"
               tooltip="%command.tooltip.5">
            <parameter
                  name="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRelation"
                  value="study">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.dafoe.terminoontologiclevel.ui.views.ConceptualViewID">
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.conceptual.newOntoObjectMapping"
               icon="icons/new.gif"
               label="%command.label.6"
               style="push"
               tooltip="%command.tooltip.6">
         </command>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.conceptual.removeOntoObjectMapping"
               icon="icons/suppress.gif"
               label="%command.label.7"
               style="push"
               tooltip="%command.tooltip.7">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.dafoe.terminoontologiclevel.ui.views.ConceptualViewID">
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.conceptual.newOntoObjectMapping"
               icon="icons/new.gif"
               label="%command.label.6"
               style="push"
               tooltip="%command.tooltip.6">
         </command>
         <command
               commandId="org.dafoe.terminoontologiclevel.ui.views.conceptual.removeOntoObjectMapping"
               icon="icons/suppress.gif"
               label="%command.label.7"
               style="push"
               tooltip="%command.tooltip.7">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dafoe.terminoontologiclevel.ui.terminoconcept.command.Validate"
            id="org.dafoe.terminoontologiclevel.ui.views.differential.validate"
            name="validate differential">
      </command>
      <command
            defaultHandler="org.dafoe.terminoontologiclevel.ui.tcrelations.command.NewRTC"
            id="org.dafoe.terminoontologiclevel.ui.views.relational.newRTC"
            name="new RTC">
      </command>
      <command
            defaultHandler="org.dafoe.terminoontologiclevel.ui.tcrelations.command.DeleteRTC"
            id="org.dafoe.terminoontologiclevel.ui.views.relational.deleteRTC"
            name="delete RTC">
      </command>
      <command
            defaultHandler="org.dafoe.terminoontologiclevel.ui.tcrelations.command.StatusRTC"
            id="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRTC"
            name="status RTC">
         <commandParameter
               id="org.dafoe.terminoontologiclevel.ui.views.relational.StatusRelation"
               name="statusRTC"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.dafoe.terminoontologiclevel.ui.conceptual.command.CreateOntoObjectMapping"
            id="org.dafoe.terminoontologiclevel.ui.views.conceptual.newOntoObjectMapping"
            name="new OntoObject Mapping">
      </command>
      <command
            defaultHandler="org.dafoe.terminoontologiclevel.ui.conceptual.command.RemoveOntoObjectMapping"
            id="org.dafoe.terminoontologiclevel.ui.views.conceptual.removeOntoObjectMapping"
            name="remove OntoObject Mapping">
      </command>
   </extension>

</plugin>
