<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.dafoe.corpuslevel.ui.category"
            name="%category.name.0">
      </category>
      <view
            allowMultiple="true"
            category="org.dafoe.corpuslevel.ui.category"
            class="org.dafoe.corpuslevel.ui.views.DocumentView"
            icon="icon/icone_16.gif"
            id="org.dafoe.corpuslevel.ui.views.DocumentViewID"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.dafoe.corpuslevel.ui.category"
            class="org.dafoe.corpuslevel.ui.views.SentenceView"
            icon="icon/icone_16.gif"
            id="org.dafoe.corpuslevel.ui.views.SentenceViewID"
            name="%view.name.1"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.dafoe.corpuslevel.ui.category"
            class="org.dafoe.corpuslevel.ui.views.TermView"
            icon="icon/icone_16.gif"
            id="org.dafoe.corpuslevel.ui.views.TermViewID"
            name="%view.name.2"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <theme
            id="org.dafoe.corpuslevel.themeId"
            name="theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_BG_START"
               value="255,0,0">
         </colorOverride>
      </theme>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.dafoe.corpuslevel.ui.category.general"
            defaultHandler="org.dafoe.corpuslevel.ui.commands.DestroyDocumentHandler"
            id="org.dafoe.corpuslevel.ui.command1"
            name="DestroyDocument">
      </command>
      <category
            id="org.dafoe.corpuslevel.ui.category.general"
            name="General">
      </category>
   </extension>

</plugin>
